<form #MsgForm="ngForm" (ngSubmit)="alert()">
  <div class="container-sm">
  
  <div class="row-cols-auto">    
    <p class="row-cols-auto input-group">Write me a tiny message comrade.. <br> but make it short.. ok?      
    </p>
    <textarea
    class="row-cols-auto"
    name="ak47" 
    placeholder="Dear library..." 
    cols="30" 
    rows="10" 
    [(ngModel)]="sendMessage.burnAfterSending"
    ></textarea>
  </div>
    <div class="pb-5">
      <button 
      type="submit" 
      class="btn btn-secondary">
        SEND
      </button>
    </div>
    <div class="row-cols-auto">
      <!-- {{sendMessage.burnAfterSending}} -->
      <p>this here is a service:</p>
      <ul>
        <li class="pb-3" *ngFor="let d2 of data2">data1: {{d2.data1}} <br> data2: {{d2.data2}}</li>
      </ul>
    </div>
  </div>
</form>