<div class="row-cols-md">
  <nav class=" navbar navbar-expand-sm bg-dark">
    <div class="container">
      <ul class="row-cols-auto p-1 navbar-nav">
        <li class="p-1 nav-item">
          <a class="btn btn-outline-primary nav-link" routerLink="/profile">Who am I?</a>
        </li>
        <li class="p-1 nav-item">
          <a class="btn btn-outline-danger nav-link" routerLink="/info">Angular?</a>
        </li>
        <li class="p-1 nav-item">
          <a class="btn btn-outline-warning nav-link" routerLink="/kontakt" routerLinkActive="active"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- router länkarna visas här under genom outleten -->
<router-outlet></router-outlet>
