<div class="bio container">
  <h2>Zdarova!</h2>
  <h5>
    My name is Akash and I'm from the great caucasus area.<br />
    I like fruits, hiking and fighting for my country. <br />
    On the weekends me and my brothers party hard and run in circles, chanting
    in unison and experience unity. <br /><br />
    Check us out!
  </h5>
</div>
<div class="container-fluid">
  <div class="">
    <div class="">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link link-danger btn btn-outline-warning"
            routerLink="homies"
            >Me and my bros</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="ruta" class="container-fluid"><router-outlet></router-outlet></div>
